GROOVOX__STORAGE__TYPE=S3
GROOVOX__STORAGE__S3__BUCKET=bucket
GROOVOX__STORAGE__S3__END_POINT=endPoint
GROOVOX__STORAGE__S3__ACCESS_KEY=accessKey
GROOVOX__STORAGE__S3__SECRET_KEY=secretKey
GROOVOX__STORAGE__S3__USE_SSL=true
GROOVOX__STORAGE__S3__PORT=443
GROOVOX__STORAGE__S3__REGION=region
GROOVOX__STORAGE__S3__PATH_STYLE=true
