GROOVOX__DATABASE__URL=postgres://postgres:postgres@localhost:5432/groovox
GROOVOX__DATABASE__MIGRATE=true
GROOVOX__STORAGE__BUCKET=bucket
GROOVOX__STORAGE__END_POINT=endPoint
GROOVOX__STORAGE__ACCESS_KEY=accessKey
GROOVOX__STORAGE__SECRET_KEY=secretKey
GROOVOX__STORAGE__USE_SSL=true
GROOVOX__STORAGE__PORT=443
GROOVOX__STORAGE__REGION=region
GROOVOX__STORAGE__PATH_STYLE=true
