DEPIXY__STORAGE__TYPE=S3
DEPIXY__STORAGE__S3__BUCKET=bucket
DEPIXY__STORAGE__S3__END_POINT=endPoint
DEPIXY__STORAGE__S3__ACCESS_KEY=accessKey
DEPIXY__STORAGE__S3__SECRET_KEY=secretKey
DEPIXY__STORAGE__S3__USE_SSL=true
DEPIXY__STORAGE__S3__PORT=443
DEPIXY__STORAGE__S3__REGION=region
DEPIXY__STORAGE__S3__PATH_STYLE=true
